@CHARSET "ISO-8859-1";

/*GENERALS*/
html, body {
	height: 100%;
	margin: 0px;
	overflow-x: hidden;
}

body {
	color: #5C5C5C;
}

#main {
	float:right;     
	width:100%;
	margin:15px;
}

a {
	color: #1DA5C4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.link {
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}


.fa-bars {
	color:#fff !important;
}

/*BG COLORS*/
/*cyan*/
.cyanBG{
	background-color: #1DA5C4;
}
/*blue soft*/
.blueSoftBG {
	background-color: #a3d9e9;
}
/*green soft*/
.greenSoftBG {
	background-color: #c2ddb3;
}
/*yellow soft*/
.yellowSoftBG {
	background-color: #e9e3c2;
}
/*rose soft*/
.roseSoftBG {
	background-color: #f2ddc9;
}
/*grey soft*/
.greySoftBG {
	background-color: #d1cbb4;
}
/*purpel soft*/
.purpelSoftBG {
	background-color: #d1c6d1;
}
/*grey soft 2*/
.greySoftBG {
	background-color: #d7d8d9;
}
/*dark green*/
.darkSoftBG {
	background-color: #c8d2c7;
}
.orangeBG{
	color:#E09C17
}

.greyBG{
	color:#777;
}
/*C COLORS*/
/*cyan*/
.cyan {
	color: #1DA5C4;
}
/*blue soft*/
.blueSoft {
	color: #a3d9e9;
}
/*green soft*/
.greenSoft {
	color: #c2ddb3;
}
/*yellow soft*/
.yellowSoft {
	color: #e9e3c2;
}
/*rose soft*/
.roseSoft {
	color: #f2ddc9;
}
/*grey soft*/
.greySoft {
	color: #d1cbb4;
}
/*purpel soft*/
.purpelSoft {
	color: #d1c6d1;
}
/*grey soft 2*/
.greySoft {
	color: #d7d8d9;
}
/*dark green*/
.darkSoft {
	color: #c8d2c7;
}

.grey{
	color:#777;
}
.orange{
	color:#E09C17
}

/*PARTS*/
/*padding*/
.padding30px {
	padding: 30px;
}
.paddingBottom10px{
	padding-bottom:10px;
}

.paddingLeft50px {
	padding-left:50px;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.borderLeft{
	border-left-style: solid;
}

/*EVALUATIONS ELEMENTS -- VARIABLES*/
.secondBox{
	/*display:inline-block;*/
}

.firstBox h6{
	font-size:1.5em;
	padding:0px;
    display:inline-block;
	
	 
}
.firstBox i{
	
	display:inline-block;
}
.firstBox p{
	
	display:inline-block;
}
.firstBox a{
	text-decortation:none;
	display:inline-block;
}
.secondBox h6{
	font-size:1.7em;
	padding:0px;
    display:inline-block;	 
}

.secondBox h5{
	font-size:1.8em;
	padding-left:10px;
	padding-right:10px;
    display:inline-block;
	
	 
}
.secondBox i{
	
	display:inline-block;
}
.secondBox p{
	
	display:inline-block;
}
.secondBox a{
	text-decortation:none;
	display:inline-block;
	max-width:400px;
}


.linkLeft{
	float:left;
}
.linkLeft h6{
	padding-left:10px;
}
.linkRight{
	padding-left:10px;
	float:right;
	border-left-style: solid;
	
}

.floatingBox {
   
    min-width: 150px;
    min-height:15px;
    margin: 10px;
}




.linkRight div i{
	float:left;
	
}

.linkRight div b{
	float:left;
}
.linkRight div a{
	float:left;
}





/*ROLS*/
/*PREGUNTAR A METORITO QUE COLORES USARIAN 
.User-Coordinator-Observer{
	background-color: ?;
} 

.Audit-Validation {
	background-color: ?;
}

.Management{
	background-color: ?;
}
*/



/* FOOTER */
@media (max-width: 700px){
	footer {
   		 visibility: hidden;
   		
	}
}



/* HEADER */

.navbar{
    margin-bottom: 0px !important;
    }
.ARError {
	padding: 10px;
}

#header {
	background-color: #707173;
	height: 57px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	border-bottom: 1px solid #666;
	min-width: 1100px;
	position: fixed;
	width: 100%;
	box-shadow: 0px 1px 2px 2px #ababab;
	position: relative;
	z-index: 999;
}

#header>#logo {
	cursor: pointer;
	float: left;
	margin-left: 20px;
	margin-right: 15px;
	margin-top: 3px;
}

#header>.top-menu.ul-left {
	float: left;
	margin-left: 20px;
	height: 50px;
}

#header>.top-menu.ul-right {
	float: right;
	margin-right: 20px;
	height: 50px;
}

.headNav {
	color: #fff !important;
	background-color: #707173 !important;
}

.headNav a {
	color: #fff !important;
}

#id {
	color: #fff !important;
}

#id ul {
	list-style-type: none !important;
}




/*settingso */
#header .user_info {
	height: 55px;
	float: right;
}

#header .user_info .info {
	height: 55px;
	float: right;
}

#header .user_info .icon {
	float: right;
	padding-top: 6px;
	height: 55px;
	margin-left: 10px;
}

#header .user_info .icon img {
	height: 47px;
}

#header .user_info .name {
	padding-top: 3px;
	font-size: 14px;
	color: #31caf1; /*azul un poco mas claro*/
}

#header .user_info .company {
	padding-top: 0px;
	color: #fff;
	font-size: 12px;
	margin-bottom: 2px;
}

#header .user_info .actions a {
	font-size: 13px;
	color: #31caf1;
}

#header .user_info .actions .separator {
	padding: 0px 12px;
	color: #bdbec0;
}

/* SUB-HEADER */
#sub-header {
	background-color: #f6f6f6;
	min-width: 900px;
	width: 100%;
	height: 35px;
	position: fixed;
	margin-top: 57px;
	z-index: 998;
}

#sub-header .sub-left {
	float: left;
	width: 215px;
	margin-right: -215px;
	background-color: #e6e6e7;
	line-height: 35px;
	height: 35px;
	text-align: center;
}

#sub-header .sub-right {
	margin-left: 215px;
	padding-left: 10px;
	min-width: 500px;
	height: 35px;
}



/* CONTENT 
.content {
	padding: 0px 0px 0px 0px;
	background: white;
	padding-top: 92px;

}

.contentTop {
	padding-top: 10px;
}

#content h1 {
	font-weight: normal;
	font-size: 22px;
	margin-top: 5px;
	margin-bottom: 5px;
}

hr {
	border: 0px;
	border-bottom: 2px dotted #D2D4D5;
}


/*REPORT*/
.report-main {
	width: 100%;
	min-width: 700px;
	max-width: 1300px;
	margin: auto;
	text-align: center;
	padding-top: 25px;
}

.report-main .main-graph {
	display: inline-block;
	width: 40%;
	vertical-align: middle;
}

.report-main .main-rating {
	display: inline-block;
	width: 40%;
	text-align: right;
	vertical-align: middle;
}

.main-rating>h1 {
	font-size: 45px;
}

.main-rating>p {
	margin: 0px;
	font-size: 150px;
	text-transform: uppercase;
	color: rgb(20, 180, 222);
	margin-bottom: -10px;
}

.main-rating>span {
	font-style: italic;
	margin-right: 15px;
}

.report-table {
	width: 75%;
	margin: auto;
	border-collapse: collapse;
}

.report-table td, .report-table th {
	text-align: center;
	border: 1px solid rgb(220, 220, 220);
	line-height: 20px;
	vertical-align: middle;
	padding: 5px 10px;
	width: 170px;
	background-color: rgb(242, 242, 242);
}

.report-table tr>td.main {
	width: 30px;
	font-weight: bold;
}

.report-table th {
	background-color: rgb(158, 158, 158);
	color: #FFF;
}

.report-main .sub-graph {
	width: 75%;
	margin: auto;
}

.sub-graph .sub-graph-title {
	text-align: left;
	margin-top: 25px;
	color: #707071;
	font-size: 15px;
	text-transform: uppercase;
}

.sub-graph .sub-graph-descr {
	text-align: left;
	margin-bottom: 10px;
}

.sub-graph .sub-graph-canvas {
	margin: 0;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
}



/*HOME*/
.box {
	width: 220px;
	height: 220px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: #B3B3B3 8px 8px 8px;
	-moz-box-shadow: #B3B3B3 8px 8px 8px;
	box-shadow: #B3B3B3 4px 4px 4px;
	padding: 5px;
}

.box  h5 {
	padding-top: 0px;
	font-size: 2.5em;
	display: inline;
}

.box h6 {
	font-size: 1.5em;
	display: inline;
}

.box .progressbar {
	background-color: #fff;
	border-radius: 1px; /* (height of inner div) / 2 + padding */
	padding: 1px;
	width: 150px;
}

.box .progressbar>div {
	background-color: #777;
	width: 40%; /* Adjust with JavaScript */
	height: 5px;
	border-radius: 1px;
}

.box hr {
	display: block;
	margin-top: 0.2em!importnat;
	margin-bottom: 0.2em !important;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 0.5px;
}

.box h6, .box h5, .box h4, .box p, .box i, .box small {
	color: #2E2E2E;
	padding: 1px;
}

.aqua h6, .aqua h5, .aqua h4, .aqua p, .aqua i, .aqua small {
	color: #fff !important;
	padding: 1px;
}

.aqua small {
	font-size: 11px;
}

.paddingN {
	padding-top: 10px;
	padding-left: 150px;
}



/*SIDEBAR*/
.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}





/* -- Responsive Styles (Media Queries) ------------------------------------- */
@media ( min-width : 48em) { 
	
	
}