@CHARSET "ISO-8859-1";
html,body{    
    height: 100%;
    margin:0px;
}
body{
    background-color: #707173 !important;
    color: #5C5C5C;
} 

.loginI{
	background-color:#9E9E9E !important;
}
.loginI{
	color:#fff;
}

.loginI a{
	color:#fff;
	text-decoration:none !important;
}

.loginI a:hover{
	color:#fff;
	text-decoration:none !important;
}



.logo{
 
  padding-right:50% !important;
  padding-left:35% !important;
  padding-bottom:20px !important;
}
.navbar{
	background-color: #707173 !important;
	border-color:#707173 !important;
}

.btn-primary {
    color: #fff;
    background-color: #5d5e60 !important;
    border-color: #5d5e60 !important;
 }
 .btn-primary:hover {
    
    background-color: #585858 !important;
    border-color: #585858 !important;
 }
 

.container{
	padding-top:50px !important;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color:#fff;
}
