#menu {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#layout {
	position: relative;
	left: 0;
	padding-left: 0;
}

#layout.active #menu {
	left: 150px;
	width: 150px;
}

#layout.active .menu-link {
	left: 150px;
}

#menu {
	margin-left: -150px; /* "#menu" width */
	width: 150px;
	position: fixed;
	top: 65px;
	left: 0;
	bottom: 0;
	z-index: 1000; /* so the menu or its navicon stays above all content */
	background: #fff;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	max-height: 800px;
	padding-left: 10px;
}

#menuLink {
	visibility: hidden;
}

.menu-link {
	/*position: fixed;*/
	display: block; /* show this only on small screens */
	top: 0;
	left: 0; /* "#menu width" */
	background: #000;
	background: rgba(0, 0, 0, 0.7);
	font-size: 10px;
	/* change this value to increase/decrease button size */
	z-index: 10;
	width: 50px;
	height: auto;
	padding: 2.1em 1.6em;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */
@media ( min-width : 48em) {
	.header, .content {
		padding-left: 2em;
		padding-right: 2em;
	}
	#layout {
		padding-left: 150px; /* left col width "#menu" */
		left: 0;
	}
	#menu {
		left: 151px;
	}
}

@media ( max-width : 48em) {
	#layout.active {
		position: relative;
		left: 150px;
	}
	#menu {
		top: 65px;
	}
	#menuLink {
		visibility: visible;
		background-color: #777;
		color: #fff;
		position: fixed;
		padding: 5px;
		margin: 2px;
		top: 70px;
	}
}